body{font-family: Verdana;}
header,footer{text-align: center;}

header{margin-bottom:20px;}
footer{margin-top:20px;}

h1,p{margin:0;}

#memory
{
	border: 1px solid brown;
	
	background:#FFF4E8;
	min-width:300px;
	max-width:680px;
	min-height:460px;
	
	margin: 0 auto;
	padding:20px;
}

#memory a{color: brown;text-decoration:none;}
#memory a:hover{color: #EFB070;}

.card-container
{
	width: auto;
	text-align: center;
	line-height: 0;
	overflow: hidden;
	perspective: 800px;
	-webkit-perspective: 800px;
}

.card-gamestate{
	text-align: center;
	font-size: 30px;
	padding:20px;
}

.card-gameoptions{
	text-align: center;
	padding-top:20px;
}

.card 
{
	width: 100px;
	height: 100px;

	-webkit-transform-origin: right center;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	
	transform-origin: right center;
	transform-style: preserve-3d;
	transition: transform 1s;
	
	position: relative;
	display: inline-block;

	margin: 10px;
	color:brown;
	border: 3px solid brown;
	cursor:pointer;
}

.card  figure 
{
	display: block;
	position: absolute;
	margin:0;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	text-align: center;
  
	line-height: 100px;
	font-size:60px;
  
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  
}

.card-flipped
{
	-webkit-transform: translateX( -100% ) rotateY( -180deg );
	transform: translateX( -100% ) rotateY( -180deg );
}

.card-front{background: #CC975F;}

.card-back 
{
	background: #EFB070;
	
	-webkit-transform: rotateY( -180deg );
	transform: rotateY( -180deg );
}
